<div class="relative overflow-auto">
  <table class="table table-striped table-hover table-sm">
    <thead class="table-light">
    <tr>
      <th>Día</th>
      <th>Bank Inicial</th>
      <th>Stake</th>
      <th>Inversión</th>
      <th>Retorno</th>
      <th>Ganancia</th>
      <th>Proyeccion</th>
      <th>Cierre de Dia</th>
      <th>Ganancia Real</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dato of datos | async; let i = index"
        [ngClass]="{'table-active': i + 1 === diaActual}">
      <td>{{ dato.dia }}</td>
      <td>{{ dato.bank | number:'1.2-2' }}</td>
      <td>{{ dato.stake | number:'1.2-2' }}</td>
      <td>{{ dato.inversion | number:'1.2-2' }}</td>
      <td>{{ dato.retorno | number:'1.2-2' }}</td>
      <td>{{ dato.ganancia | number:'1.2-2' }}</td>
      <td>{{ dato.meta | number:'1.2-2' }}</td>
      <td >
        @if(isEditable === i){
          <input type="text" (change)="cierreCaja($event, i)" value="{{ dato.cierre | number:'1.2-2' }}" class="form-control form-control-sm">
        }@else{
          {{ dato.cierre | number:'1.2-2' }}
          <button class="btn btn-sm btn-outline-info" (click)="this.isEditable = i">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
          </button>
        }

      </td>
      <td>{{ dato.gananciaReal | number:'1.2-2' }}</td>

    </tr>
    </tbody>
  </table>

</div>